# Virtual environment (if created in the project folder)
.venv/
.env/
__pycache__/
*.pyc

# IDE/editor configs
.vscode/
*.swp
.DS_Store

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Log or temp files
*.log
*.tmp
